<h1>Authors</h1>

<table>
<tr>
    <th>Name</th>
    <th>Website</th>
</tr>
<% @authors.each do |author| %>
    <tr>
      <th>
        <%= author.name %>
        </th>
        <th>
        <%= link_to author.homepage, author.homepage %>
      </th>
      <th>
        <%= link_to "Show", author %>
      </th>
    </tr>
  <% end %>
</table>
<%= link_to "New", new_author_path %>

